.cursive-font {
  font-family: "Mr Dafoe", cursive;
  font-weight: 400;
  text-align: center;
  user-select: none;
}

.button-primary {
  border: none;
  background-color: var(--background-primary-color);
  filter: grayscale(100%) opacity(0.7);
  transition: 400ms;
}

.button-primary > span {
  color: var(--primary-main-color);
}

.button-primary:hover {
  filter: grayscale(0%) opacity(1);
}

.icon-medium {
  font-size: 2rem;
}

.link-primary {
  outline: none;
  text-decoration: none;
  color: var(--primary-main-color);
  @media (max-width: 400px) {
    word-break: break-all;
  }
}

.link-image {
  outline: none;
  text-decoration: none;
  color: var(--font-primary-color);
  text-shadow: -2px -2px 0 var(--gray-500), 2px 2px 0 var(--gray-500);
}
