<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap"
      rel="stylesheet"
    />

    <!-- Icons -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />

    <!-- Styles -->
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/404.css" />

    <!-- Scripts -->
    <script src="../js/index.js"></script>

    <title>Natural Light Works</title>
  </head>
  <body>
    <main>
      <img src="img/404.svg" alt="404 Not Found SVG" />
      <p>
        We can't find the resource you're looking for. You can return to the
        <a class="link-primary" href="/">main page</a>, or you can stay with
        Miguel. He enjoys your company.
      </p>
    </main>
  </body>
</html>
